<p id="notice"><%= notice %></p>

<h1>Doubts</h1>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<% if user_signed_in? %>
<div class="accordion" id="accordionExample">
    <% @doubts.each do |doubt| %>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= doubt.contact %>
            </button>
          </h5>
        </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="well">
                <%= doubt.question %>
              </div>
              
              <pre>
                <%= doubt.code %>
              </pre>

              <div class="well">
              <%= doubt.comment %>
              </div>

            </div>
          </div>
    </div>
    <% end %>
  </div>
<% end %>
<br>

<%= link_to 'New Doubt', doubt_path %>
<%= link_to 'New Doubt', delete_path %>
<%= link_to 'New Doubt', new_doubt_path %>
